{% style %}
:root {
  --color-button-test: {{ section.settings.button_color_test }};
}
{% endstyle %}

<style>
  button {
    background-color: var(--color-button-test);
  }
</style>

<button>
  {{ section.settings.button_text }}
</button>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "color", 
      "id": "button_color_test",
      "label": "Testerich"
    }, 
    {
      "type": "text",
      "id": "button_text", 
      "label": "Jib dem Teil en Namen"
    }
  ]
}
{% endschema %}
